/**/__pycache__/
/**/*.FCBak*
/**/*.bgcode*
/**/*.stl*
/**/*_gitignore*

steuerung_automatik/hardware/pcb_kicad/*-backups/*
steuerung_automatik/hardware/pcb_kicad/*.bak
steuerung_automatik/hardware/pcb_kicad/fp-info-cache
steuerung_automatik/hardware/pcb_kicad/production/*

hardware_dezentral/pcb_kicad/*-backups/*
hardware_dezentral/pcb_kicad/*.bak
hardware_dezentral/pcb_kicad/fp-info-cache
hardware_dezentral/pcb_kicad/production/*

software/software-dezentral/micropython_bak/**
software/software-zentral/log/*
software/software-zentral/zentral/config_secrets.py
software/software-zero/config/raspi_os_config.py
software/software-zero/install/622_pc_image_build-password.txt
software/software-zero/keys/*/id_rsa
software/software-zero/log/*
software/software-zero/rootfs/etc/systemd/system/heizung-ssh-tunnel.service
software/software-zentral/persistence/*.json
