# https://www.shubhamdipt.com/blog/how-to-create-a-systemd-service-in-linux/
# https://linuxhandbook.com/create-systemd-services/

[Unit]
Description=SSH tunnel to www.maerki.com

[Service]
User=zero
Group=zero
WorkingDirectory=/home/zero
ExecStart=ssh -o TCPKeepAlive=no -o ServerAliveInterval=15 -nNT -R 8852:localhost:22 www-data@www.maerki.com
Restart=always
# RestartSec=5min 20s
RestartSec=60

[Install]
WantedBy=multi-user.target
