uvicorn[standard]
fastapi[all]
Jinja2

hsm @ git+https://github.com/hmaerki/HierarchicalStateMachine.git

# TODO: REMOVE 'uModbus'
# uModbus @ git+https://github.com/AdvancedClimateSystems/uModbus.git@1.0.4#egg=uModbus
# uModbus @ git+https://github.com/hmaerki/fork-uModbus@master#egg=uModbus

influxdb-client
aiohttp # Required by influxdb-client

pymodbus
# aiomonitor
# aioconsole
ptpython
asyncssh
mpfshell2
